* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.not-in-line-page-bg-container {
  background-image: url('https://res.cloudinary.com/shafi-tech/image/upload/v1695147790/BG_2_n9cqpw.png');
  background-size: cover;
  padding-bottom: 20px;
  padding-top: 20px;
  min-height: 100vh;
  overflow-y: auto;
  background-attachment: scroll;
}
.footer {
  background-color: #1f1f1f;
  width: 100vw;
  padding: 20px;
}
.footer-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.footer-section1 {
  width: 40%;
}
.footer-section1 img {
  width: 100px;
  height: 100px;
}
.footer-section1 p {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: #ffffff;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-section2 {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.footer-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-card h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
  padding-bottom: 12px;
}
.footer-lists {
  width: 100%;
  padding-left: 0;
  list-style-type: none;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 12px;
  color: #ffffff;
}
.footer-lists li {
  padding-bottom: 20px;
}
.copy-right {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: #ffffff;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.copy {
  padding-right: 10px;
}
.call-input {
  display: flex;
  align-items: center;
  width: 400px;
  height: 50px;
  background-color: #333333;
}
.std {
  width: 20%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #fff;
}
.std p {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #ffff;
}
.input-number {
  width: 60%;
  height: 50px;
  outline: none;
  border: none;
  padding: 5px;
  background-color: transparent;
  font-family: sans-serif;
  font-size: 12px;
  color: #ffff;
  font-weight: bold;
}
.btn-call {
  width: 20%;
  height: 50px;
  background-color: #00a6ff;
  font-family: sans-serif;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  border: none;
}
@media (max-width: 991px) {
  .footer-details {
    flex-direction: column;
  }
  .footer-section1 {
    width: 100%;
  }
  .footer-section2 {
    width: 100%;
    margin-top: 10px;
  }
  .call-input {
    display: none;
  }
}
@media (max-width: 650px) {
  .not-in-line-page-bg-container {
    background-image: url('https://res.cloudinary.com/shafi-tech/image/upload/v1695147997/BG_3_rv4xop.png');
  }
}
